.form {
	max-width: 500px;
	margin: auto;
}


.inputField {
	border: 2px solid lightgray;
	background-color: #F5F5F5;
}


.inputField:focus {
	background-color: #fff;
	outline: 1px solid lightblue;
}


.inputField,
.form button[type='submit'] {
	width: 100%;
	padding: 0.9rem;
	box-sizing: border-box;
	margin: 1rem 0;
	border-radius: 0.4rem;
}


.form button[type='submit'] {
	height: 3.1rem;
	background-color: #458B00;
	color: #fff;
	border: 1px solid;
}