.tableContainer {
	background-color: #fff;
	height: 22rem;
	overflow: auto;
}


.tableContainer > table {
	width: 100%;
	border-collapse: collapse;
	min-width: 50rem;
}


.tableContainer table th,
.tableContainer table td {
	padding: 0.6rem;
	text-align: left;
	border-bottom: 1.5px solid lightgray;
}


.tableContainer table th {
	font-weight: normal;
	height: 1.7rem;
}


.tableContainer table tr:hover:not(.headerRow) {
	border: 2px solid #458B00;
	outline: 0.1rem solid lightgray;
	opacity: 0.9;
}