.contentContainer {
	text-align: center;
}


.contentContainer section {
	margin: 2rem 0;
	gap: 0.6rem;
}


.contentContainer>section:first-child {
	display: flex;
	flex-direction: column;
}


.contentContainer>section:last-child {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}


.contentContainer>section:last-child button {
	border: none;
	padding: 0.5rem;
	border-radius: 0.4rem;
	outline: 1px solid lightgray;
	max-width: 10rem;
	flex-grow: 7;
}


.contentContainer>section:last-child button:first-child {
	background-color: #00EE76;
	color: #fff;
	font-weight: bold;
}


.contentContainer>section:last-child button:last-child {
	background-color: #fff;
	outline: 1px solid #00EE76;
}