html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	text-decoration: none;
	color: #0070f3;
}


li {
	list-style: none;
}


a,
th,
td,
label {
	font-size: 0.96rem;
}


label {
	font-weight: bold;
	color: #1f1f1f;
}


input {
	font-size: 0.9rem;
}


h1,
h2 {
	color: #1f1f1f;
	font-weight: bolder;
}