@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	text-decoration: none;
	color: rgb(14 165 233);
}


a:hover {
	opacity: 0.8;
}



li {
	list-style: none;
}

a,
th,
td,
label,
button,
input,
p {
	font-size: 0.87rem;
}