.inputContainer {
	border: 3px solid #F2F2F2;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1rem 0;
	background-color: #FCFCFC;
	transition: border 201ms;
	outline: 1px solid transparent;
}

.inputContainer,
.inputContainer input {
	border-radius: 0.4rem;
	box-sizing: border-box;
	width: 100%;
}


.inputContainer input {
	padding: 0.7rem;
	border: none;
	outline: none;
	background-color: #FCFCFC;
}



.inputContainer:focus-within {
	background-color: #fff;
	outline: 1px solid lightblue;
	transition: outline 201ms;
}


.inputContainer input:focus {
	background-color: #fff;
}

.adornment {
	font-size: 1.rem;
	padding: 0  0.5rem;
	color: #458B00;
}


.errorContainer {
	color: tomato;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.6rem;
	font-weight: bold;
	font-size: 0.8rem;
}