.inputContainer {
	background-color: #fff;
	width: 100%;
	border: 2px solid lightgray;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 3rem;
}


.inputContainer,
.inputContainer input {
	border-radius: 0.6rem;
}


.inputContainer input {
	width: 100%;
	box-sizing: border-box;
	padding: 1rem 0.5rem;
	border: none;
	outline: none;
}


.inputContainer:focus-within {
	background-color: #fff;
	outline: 1px solid lightblue;
}

.adornment {
	font-size: 2rem;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	color: #0070f3;
}