.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #1f1f1f;
}


.nav section ul {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: center;
}

.nav ul li a {
	color: #fff;
	opacity: 1;
	font-weight: bold;
}