.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 3rem;
	background-color: #fff;
	padding: 0.8rem 0;
}


.nav ul {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.nav ul li a {
	color: #000;
}