.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #141414;
}


.nav section ul {
	display: flex;
	gap: 2rem;
	align-items: center;
	padding: 1.2rem;
	max-height: 0.1rem;
}

.nav ul li a {
	color: #fff;
	opacity: 1;

}