.container p {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2rem;
}

/* 
.container section:last-child {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}


.container section:last-child p {
	display: flex;
	justify-content: space-between;
}


.container section:last-child p span:last-child {
	opacity: 0.6;
} */