.flexSpaceBetween {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}


.buttonAdd {
	background-color: #fff;
	color: #458B00;
	width: 8rem;
	text-align: center;
	padding: 0.7rem;
	border-radius: 0.6rem;
	font-weight: bold;
	font-size: 0.9rem;
	border: 2px solid;
}


.buttonAdd:hover {
	background-color: #458B00;
	transition: background-color 800ms;
	color: #fff;
	opacity: 0.7;
}


.buttonSubmit {
	width: 100%;
	padding: 0.9rem;
	box-sizing: border-box;
	margin: 1rem 0;
	border-radius: 0.4rem;
	height: 3.4rem;
	background-color: #458B00;
	color: #fff;
	border: 1px solid;
	font-size: 0.9rem;
	font-weight: bold;
	margin-top: 1rem;
	cursor: pointer;
}

.colorDarkBlue {
	color: #0070f3;
}


.colorRed {
	color: red;
}


.tableButtonSize {
	font-size: 1.5rem;
}