.flexSpaceBetween {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2rem;
	align-items: center;
}


.addButton {
	background-color: #458B00;
	color: #fff;
	width: 8rem;
	text-align: center;
	padding: 1rem;
	border-radius: 0.6rem;
}




.buttonSubmit {
	width: 100%;
	padding: 0.9rem;
	box-sizing: border-box;
	margin: 1rem 0;
	border-radius: 0.4rem;
	height: 3.1rem;
	background-color: #458B00;
	color: #fff;
	border: 1px solid;
}

.opacityWhileLoadingTrue {
	opacity: 0.5;
}

.opacityWhileLoadingFalse {
	opacity: 1
}